body {
    font-family: $regular; 
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    line-height: 1.3;
    word-wrap: break-word;
}

input {
    outline: none !important;
}

label {
    margin: 0;
}

i {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 930px;
}

ul {
    margin: 0;
    padding: 0;
    
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

a {
    &:focus {
        outline: none;
    }
}

.italic {
    font-family: $italic;
}

.italic-b {
    font-family: $italic-b;
}

.rounded {
    border-radius: 50%;
}

