.btn {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none !important;
    text-align: center;
    transition: all .3s;
    cursor: pointer;
    
    &__icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        position: relative;
        top: -2px;

        @mixin atM {
            margin-right: 15px;
        } 
    }

    &--rnd {
        border-radius: 30px;
    }

    &--rnd-s {
        border-radius: 3px;
    }

    &--rnd-ss {
        border-radius: 2px;
    }

    &--lg {
        height: 48px;
        font-size: $px16;
        padding: 12px 25px;

        @mixin atM {
            height: 57px;
            font-size: $px18;
            padding: 15px 35px;
        } 

    }

    &--s {
        font-size: $px14;
        padding: 8px 20px 7px 40px;
    }

    &--xs {
        padding: 5px 15px;
        font-size: $px13;
    }

    &--m {
        font-size: $px13;
        padding: 7px 30px;
        
        @mixin atM {
             padding: 7px 35px;
        }
        
    }

    &--full {
        width: 100%;
    }

    &--orng {
        background: $orange;
        color: #fff !important;

        &:hover {
            background: #f85959;
        }

    }

    &--blue {
        background: #5885BE;
        color: #fff !important;

        &:hover {
            background: #608ec7;
        }

    }

    &--blue-l {
        background: #3f9cdb;
        color: #fff !important;

        &:hover {
            background: #558EB8;
        }

    }

    &--blue-ll {
        border-radius: 6px;
        border: 1px solid #dce0e0;
        background-color: $blue-lll;
        color: #8a949b;
        display: block;
        text-align: left;

        &:hover {
            color:  #8a949b;
        }
    }
    
     &--blue-g {
        background-color: $blue-g;
        color: #fff !important;

        &:hover {
            background-color: $blue-g-l;
        }
    }

    &--green {
        color: #fff !important;
        background-color: $green;

        &:hover {
            background-color: $green-l;
        }
    }

    &--icn {
        padding-left: 18px;

        @mixin atM {
            padding-left: 25px;
        } 
    }

    &--mrg-t {
        @mixin atM {
            margin-top: 7px;
        }
    }

    &--right {

        @mixin atS {
            float: right;
        }

    }

    &--flat {
        padding: 3px 25px;
    }

    &--bold {
        font-family: $bold;
    }

    

    &--centered {
        margin: 0 auto;
    }
    
    &--abs-r {
        position: absolute;
        right: 0;
        top: 0;
    }


}