.icon {
    &--mrg-r-15 {
        margin-right: 12px;
    }
    
    &--input {
        position: absolute;
        top: 12px;
        left: 10px;
    }
    
    &--calendar-ss {
        top: 11px;
    }
    
    &--calendar-ss-g {
        top: 11px;
    }
    
    &--clock-ss {
        top: 11px;
    }
    
    &--clock-ss-g {
        top: 10px;
    }
}

