.link {
    
    &--blue {
        color: $blue-l !important;
    }
    
    &--bold {
        font-family: $bold;
    }
    
    &--underlined {
        text-decoration: underline !important;
    }
}