.link {

    &:hover {
        text-decoration: none;
    }

    &--blue {
        color: $blue-l !important;
    }

    &--black {
        color: #000 !important;
    }

    &--green {
        color: $green !important;
    }

    &--grey-l {
        color: $grey-l;
    }

    &--bold {
        font-family: $bold;
    }

    &--underlined {
        text-decoration: underline !important;
    }

    &--m {
        font-size: $px13;
    }

    &--s {
        font-size: $px12;
    }

    &--grey-d {
        color: #4d4f4f !important;
    }

}