.main-column {
    position: relative;
    padding-bottom: 0;
    min-height: calc(100vh - 410px);
    padding-bottom: 70px;
    
    @mixin atM {
        padding-left: 30px; 
    }
    
    > * {
        z-index: 1000;
        position: relative;
    }
    
    &:after {
        content: "";
        background: $blue-lll;
        position: absolute;
        left: -15px;
        top: 0;
        width: 2000px;
        height: 2000px;
        display: block;
        box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.24);
        z-index: 1;
        
        @mixin atM {
            left: 0;
        }
    }
     
}