.page-section {
    padding: 25px 0;
    
    &--pd-t-xs {
        padding-top: 15px;
    }
    
    &--pd-xs {
        padding: 10px 0;
    }
    
    &--pd-no {
        padding: 0;
    }
    
    &--blue {
        background: $blue;
        color: #fff;
    }
    
    &--blue-d {
        background: $blue-d;
        color: #fff;
    }
    
    &--blue-l {
        background: $blue-ll;
    }
    
    &--blue-ll {
        background: $blue-lll;
    }
    
    &--grd {
        background: linear-gradient(to bottom, #adadad 0%, #dcdcdc 100%);
    }
    
    &--main-content {
        overflow: hidden;
    }
    
    &--bottom {
        position: relative;
        padding: 16px 0 0;
        
        &:after {
            content: "";
            background: $blue-ll;
            position: absolute;
            left: -30px;
            top: 0;
            width: 2000px;
            height: 100%;
            display: block;
            box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.28);
            z-index: -1;

            @mixin atM {
                left: -30px;
            }
        }
    }
}

.colors-2 .page-section {
    &--blue-d {
        background: #27969d;
    }
    
    &--blue {
        background: #155f6a;
    }
} 

.colors-3 .page-section {
    &--blue-d {
        background: #abd7da;
    }
    
    &--blue {
        background: #238b94;
    }
} 