.popup {
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 30px;
    left: 0;
    background: #fff;
    border: 1px solid $grey-ll;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .2);
    width: 203px;
    border-radius: 3px;
    max-height: 250px;
    overflow-y: auto;

    @mixin atM {
        position: absolute;
        top: 25px;
        left: 0;
        width: 200px;
    }

    &__row {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $grey-ll;
        padding: 5px 10px;

        &:last-child {
            border-bottom: none;
        }
        
        &--l {
            padding: 10px 12px;
            
            @mixin atM {
                padding: 10px 12px;
            }
        }
    }

    &__userpic {
        width: 20px;
        height: 20px;
        flex-basis: 20px;
        margin-right: 10px;
        flex-shrink: 0;
        margin-bottom: 0;
    }

    &__name {
        margin-bottom: 0;
        padding-top: 2px;
        text-align: left; 
    }

    &--is-visible {
        opacity: 1;
        z-index: 1000000000;
    }

    &--joined {
        left: inherit;
        right: 0;
        
        @mixin atS {
            left: 0;
            right: inherit;
        }
    }
    
    &--recipients {
        
        top: 34px;
        left: 15px;
        width: 340px;
        border-color: #95a5a6;
        max-width: calc(100% - 30px);
        overflow: hidden;
        
        @mixin atS {
            left: 15px;
        }
        
        .popup__row {
            cursor: pointer;
        }
        
        
    }

}