.sidebar {
    
    &__menu {
        display: none;
        position: fixed;
        top: 45px;
        left: 0;
        background: #fff;
        height: calc(100vh - 45px);
        width: 100%;
        z-index: 10000;
        overflow-y: auto;
    
        @mixin atM {
            height: auto;
            background: transparent; 
            display: block;
            position: static;
        }
        
        &--is-visible {
            display: block;
        }
    }
    
    &__menu-item {
        list-style: none; 
        position: relative; 
    }
    
    &__menu-count {
        position: absolute;
        right: 25px;
        top: 50%;
        margin-top: -13px;
        padding: 1px 8px;
        border-radius: 20px;
        background: #a5a7a8;
        color: #fff;
        min-width: 38px;
        text-align: center;
        
        
        @mixin atM {
            right: 15px;
            min-width: 28px;
            margin-top: -8px;
        }
        
        @mixin atL {
            right: 18px;
            min-width: 32px;
            height: 20px;
            line-height: 19px;
        }
    }
    
    &__menu-item-link {
        color: $grey-l !important;
        text-decoration: none !important;
        font-size: $px18;
        padding: 14px 20px 8px;
        text-transform: uppercase;
        vertical-align: middle;
        display: block;
        margin-bottom: 10px;
        
        @mixin atM {
            font-size: $px13;
            padding: 14px 0px 8px;
        }
        
        @mixin atL {
            padding: 14px 20px 8px;
        }
        
        i {
           vertical-align: middle;
            margin-right: 16px;
            position: relative;
            top: -2px;
        }
    }
    
    &__menu-item--current {
        
        .sidebar__menu-item-link {
            background: #a5a7a8;
            color: #fff !important;
            position: relative;
            
            &:before {
                content: "";
                background: #a5a7a8;
                position: absolute;
                right: -15px;
                top: 0;
                width: 2000px;
                height: 100%;
                display: block;
                z-index: -1;
                
                @mixin atM {
                   right: 0;
                }
            }
        }
        
        .sidebar__menu-count {
            background: #CACCCC;
        }
    }
}