


        .icon {
            background-image: url('../../assets/images/sprites/sprite-f5d4bfeb.png');
        }
 

        

    .icon--add {
        width: 17px; 
        height: 17px;
        background-position: 98.17351598173516% 70.83333333333333%;  
    }

    .icon--add-media {
        width: 48px; 
        height: 28px;
        background-position: 0 17.12707182320442%;  
    }

    .icon--arrow-r {
        width: 14px; 
        height: 19px;
        background-position: 96.84684684684684% 43.1578947368421%;  
    }

    .icon--calendar {
        width: 28px; 
        height: 27px;
        background-position: 77.88461538461539% 0;  
    }

    .icon--calendar-active {
        width: 28px; 
        height: 27px;
        background-position: 77.88461538461539% 14.835164835164836%;  
    }

    .icon--calendar-l-active {
        width: 34px; 
        height: 35px;
        background-position: 0 59.770114942528735%;  
    }

    .icon--calendar-s {
        width: 21px; 
        height: 20px;
        background-position: 100% 22.22222222222222%;  
    }

    .icon--cancel-s {
        width: 23px; 
        height: 23px;
        background-position: 11.737089201877934% 88.70967741935483%;  
    }

    .icon--clock-s {
        width: 21px; 
        height: 20px;
        background-position: 0 100%;  
    }

    .icon--comments {
        width: 21px; 
        height: 21px;
        background-position: 100% 0;  
    }

    .icon--comments-p {
        width: 25px; 
        height: 24px;
        background-position: 0 89.1891891891892%;  
    }

    .icon--create-event {
        width: 20px; 
        height: 22px;
        background-position: 32.870370370370374% 88.23529411764706%;  
    }

    .icon--delete {
        width: 10px; 
        height: 10px;
        background-position: 46.017699115044245% 69.84924623115577%;  
    }

    .icon--done {
        width: 45px; 
        height: 45px;
        background-position: 23.56020942408377% 35.97560975609756%;  
    }

    .icon--done-s {
        width: 24px; 
        height: 24px;
        background-position: 89.62264150943396% 26.486486486486488%;  
    }

    .icon--edit {
        width: 27px; 
        height: 27px;
        background-position: 77.51196172248804% 29.67032967032967%;  
    }

    .icon--edit-s {
        width: 16px; 
        height: 16px;
        background-position: 97.72727272727273% 95.33678756476684%;  
    }

    .icon--edit-ss {
        width: 16px; 
        height: 16px;
        background-position: 34.54545454545455% 72.02072538860104%;  
    }

    .icon--edit-sss {
        width: 12px; 
        height: 12px;
        background-position: 41.07142857142857% 70.55837563451777%;  
    }

    .icon--exit {
        width: 18px; 
        height: 18px;
        background-position: 98.62385321100918% 52.87958115183246%;  
    }

    .icon--invitations {
        width: 29px; 
        height: 23px;
        background-position: 43.47826086956522% 31.72043010752688%;  
    }

    .icon--invitations-active {
        width: 29px; 
        height: 23px;
        background-position: 61.83574879227053% 55.913978494623656%;  
    }

    .icon--invitations-l-active {
        width: 41px; 
        height: 32px;
        background-position: 61.02564102564103% 16.384180790960453%;  
    }

    .icon--invite {
        width: 24px; 
        height: 19px;
        background-position: 89.62264150943396% 63.68421052631579%;  
    }

    .icon--invite-w {
        width: 17px; 
        height: 14px;
        background-position: 98.17351598173516% 78.46153846153847%;  
    }

    .icon--joined {
        width: 21px; 
        height: 21px;
        background-position: 100% 11.170212765957446%;  
    }

    .icon--like-p {
        width: 26px; 
        height: 23px;
        background-position: 77.14285714285714% 57.526881720430104%;  
    }

    .icon--likes {
        width: 21px; 
        height: 19px;
        background-position: 50.23255813953488% 86.84210526315789%;  
    }

    .icon--logo {
        width: 119px; 
        height: 31px;
        background-position: 0 0;  
    }

    .icon--media {
        width: 30px; 
        height: 29px;
        background-position: 47.57281553398058% 57.77777777777778%;  
    }

    .icon--media-active {
        width: 30px; 
        height: 29px;
        background-position: 33.00970873786408% 57.77777777777778%;  
    }

    .icon--media-l-active {
        width: 37px; 
        height: 36px;
        background-position: 59.79899497487437% 35.26011560693642%;  
    }

    .icon--messages {
        width: 32px; 
        height: 22px;
        background-position: 39.21568627450981% 16.577540106951872%;  
    }

    .icon--messages-active {
        width: 32px; 
        height: 22px;
        background-position: 23.529411764705884% 16.577540106951872%;  
    }

    .icon--messages-l-active {
        width: 43px; 
        height: 29px;
        background-position: 61.6580310880829% 0;  
    }

    .icon--messages-s {
        width: 26px; 
        height: 19px;
        background-position: 42.857142857142854% 43.1578947368421%;  
    }

    .icon--news {
        width: 24px; 
        height: 24px;
        background-position: 89.62264150943396% 13.513513513513514%;  
    }

    .icon--news-active {
        width: 24px; 
        height: 24px;
        background-position: 89.62264150943396% 88.64864864864865%;  
    }

    .icon--news-l-active {
        width: 34px; 
        height: 34px;
        background-position: 16.831683168316832% 59.42857142857143%;  
    }

    .icon--not-done {
        width: 45px; 
        height: 45px;
        background-position: 0 35.97560975609756%;  
    }

    .icon--notices {
        width: 23px; 
        height: 23px;
        background-position: 22.535211267605632% 88.70967741935483%;  
    }

    .icon--point {
        width: 17px; 
        height: 21px;
        background-position: 41.55251141552512% 87.76595744680851%;  
    }

    .icon--private {
        width: 25px; 
        height: 16px;
        background-position: 24.170616113744074% 72.02072538860104%;  
    }

    .icon--search {
        width: 17px; 
        height: 17px;
        background-position: 98.17351598173516% 86.97916666666667%;  
    }

    .icon--search-active {
        width: 24px; 
        height: 24px;
        background-position: 89.62264150943396% 39.45945945945946%;  
    }

    .icon--search-l {
        width: 24px; 
        height: 24px;
        background-position: 89.62264150943396% 52.432432432432435%;  
    }

    .icon--search-ll-active {
        width: 25px; 
        height: 25px;
        background-position: 90.04739336492891% 0;  
    }

    .icon--search-m {
        width: 20px; 
        height: 20px;
        background-position: 99.53703703703704% 32.804232804232804%;  
    }

    .icon--search-w {
        width: 17px; 
        height: 17px;
        background-position: 98.17351598173516% 61.979166666666664%;  
    }

    .icon--send {
        width: 25px; 
        height: 24px;
        background-position: 12.322274881516588% 75.13513513513513%;  
    }

    .icon--settings {
        width: 27px; 
        height: 26px;
        background-position: 77.51196172248804% 44.26229508196721%;  
    }

    .icon--settings-s {
        width: 26px; 
        height: 26px;
        background-position: 0 75.95628415300547%;  
    }

    .icon--time {
        width: 18px; 
        height: 24px;
        background-position: 87.1559633027523% 75.67567567567568%;  
    }
