


        .icon {
            background-image: url('../../assets/images/sprites/sprite-dc436daf.png');
        }
 

        

    .icon--add {
        width: 17px; 
        height: 17px;
        background-position: 98.17351598173516% 51.578947368421055%;  
    }

    .icon--add-media {
        width: 48px; 
        height: 28px;
        background-position: 0 17.318435754189945%;  
    }

    .icon--arrow-l-s {
        width: 10px; 
        height: 13px;
        background-position: 41.150442477876105% 71.64948453608247%;  
    }

    .icon--arrow-r {
        width: 14px; 
        height: 19px;
        background-position: 96.84684684684684% 32.4468085106383%;  
    }

    .icon--arrow-r-s {
        width: 10px; 
        height: 13px;
        background-position: 36.72566371681416% 71.64948453608247%;  
    }

    .icon--calendar {
        width: 28px; 
        height: 27px;
        background-position: 77.88461538461539% 15%;  
    }

    .icon--calendar-active {
        width: 28px; 
        height: 27px;
        background-position: 77.88461538461539% 0;  
    }

    .icon--calendar-l-active {
        width: 34px; 
        height: 35px;
        background-position: 0 60.46511627906977%;  
    }

    .icon--calendar-s {
        width: 21px; 
        height: 20px;
        background-position: 100% 11.229946524064172%;  
    }

    .icon--calendar-ss {
        width: 16px; 
        height: 15px;
        background-position: 23.181818181818183% 72.39583333333333%;  
    }

    .icon--calendar-ss-g {
        width: 16px; 
        height: 15px;
        background-position: 30.454545454545453% 72.39583333333333%;  
    }

    .icon--cancel-s {
        width: 23px; 
        height: 23px;
        background-position: 45.070422535211264% 88.04347826086956%;  
    }

    .icon--clock-s {
        width: 21px; 
        height: 20px;
        background-position: 17.674418604651162% 99.46524064171123%;  
    }

    .icon--clock-ss {
        width: 17px; 
        height: 16px;
        background-position: 98.17351598173516% 60.20942408376963%;  
    }

    .icon--clock-ss-g {
        width: 17px; 
        height: 16px;
        background-position: 98.17351598173516% 77.4869109947644%;  
    }

    .icon--comments {
        width: 21px; 
        height: 21px;
        background-position: 100% 0;  
    }

    .icon--comments-p {
        width: 25px; 
        height: 24px;
        background-position: 0 88.52459016393442%;  
    }

    .icon--create-event {
        width: 20px; 
        height: 22px;
        background-position: 87.96296296296296% 88.64864864864865%;  
    }

    .icon--delete {
        width: 10px; 
        height: 10px;
        background-position: 45.575221238938056% 70.55837563451777%;  
    }

    .icon--done {
        width: 45px; 
        height: 45px;
        background-position: 0 36.41975308641975%;  
    }

    .icon--done-s {
        width: 24px; 
        height: 24px;
        background-position: 23.11320754716981% 88.52459016393442%;  
    }

    .icon--edit {
        width: 27px; 
        height: 27px;
        background-position: 77.51196172248804% 44.44444444444444%;  
    }

    .icon--edit-s {
        width: 16px; 
        height: 16px;
        background-position: 63.63636363636363% 84.81675392670157%;  
    }

    .icon--edit-ss {
        width: 16px; 
        height: 16px;
        background-position: 70.9090909090909% 84.81675392670157%;  
    }

    .icon--edit-sss {
        width: 12px; 
        height: 12px;
        background-position: 95.98214285714286% 100%;  
    }

    .icon--exit {
        width: 18px; 
        height: 18px;
        background-position: 98.62385321100918% 42.32804232804233%;  
    }

    .icon--invitations {
        width: 29px; 
        height: 23px;
        background-position: 43.47826086956522% 32.06521739130435%;  
    }

    .icon--invitations-active {
        width: 29px; 
        height: 23px;
        background-position: 61.83574879227053% 56.52173913043478%;  
    }

    .icon--invitations-l-active {
        width: 41px; 
        height: 32px;
        background-position: 61.02564102564103% 16.571428571428573%;  
    }

    .icon--invite {
        width: 24px; 
        height: 19px;
        background-position: 89.62264150943396% 26.06382978723404%;  
    }

    .icon--invite-w {
        width: 17px; 
        height: 14px;
        background-position: 98.17351598173516% 84.97409326424871%;  
    }

    .icon--joined {
        width: 21px; 
        height: 21px;
        background-position: 7.906976744186046% 100%;  
    }

    .icon--like-p {
        width: 26px; 
        height: 23px;
        background-position: 0 75.54347826086956%;  
    }

    .icon--likes {
        width: 21px; 
        height: 19px;
        background-position: 55.348837209302324% 86.17021276595744%;  
    }

    .icon--logo {
        width: 119px; 
        height: 31px;
        background-position: 0 0;  
    }

    .icon--media {
        width: 30px; 
        height: 29px;
        background-position: 33.00970873786408% 58.42696629213483%;  
    }

    .icon--media-active {
        width: 30px; 
        height: 29px;
        background-position: 47.57281553398058% 58.42696629213483%;  
    }

    .icon--media-l-active {
        width: 37px; 
        height: 36px;
        background-position: 59.79899497487437% 35.67251461988304%;  
    }

    .icon--messages {
        width: 32px; 
        height: 22px;
        background-position: 39.21568627450981% 16.756756756756758%;  
    }

    .icon--messages-active {
        width: 32px; 
        height: 22px;
        background-position: 23.529411764705884% 16.756756756756758%;  
    }

    .icon--messages-l-active {
        width: 43px; 
        height: 29px;
        background-position: 61.6580310880829% 0;  
    }

    .icon--messages-s {
        width: 26px; 
        height: 19px;
        background-position: 42.857142857142854% 43.61702127659574%;  
    }

    .icon--news {
        width: 24px; 
        height: 24px;
        background-position: 89.62264150943396% 37.15846994535519%;  
    }

    .icon--news-active {
        width: 24px; 
        height: 24px;
        background-position: 11.79245283018868% 88.52459016393442%;  
    }

    .icon--news-l-active {
        width: 34px; 
        height: 34px;
        background-position: 16.831683168316832% 60.115606936416185%;  
    }

    .icon--not-done {
        width: 45px; 
        height: 45px;
        background-position: 23.56020942408377% 36.41975308641975%;  
    }

    .icon--notices {
        width: 23px; 
        height: 23px;
        background-position: 34.27230046948357% 88.04347826086956%;  
    }

    .icon--point {
        width: 17px; 
        height: 21px;
        background-position: 0 100%;  
    }

    .icon--private {
        width: 25px; 
        height: 16px;
        background-position: 12.322274881516588% 72.77486910994764%;  
    }

    .icon--search {
        width: 17px; 
        height: 17px;
        background-position: 98.17351598173516% 68.94736842105263%;  
    }

    .icon--search-active {
        width: 24px; 
        height: 24px;
        background-position: 89.62264150943396% 76.50273224043715%;  
    }

    .icon--search-l {
        width: 24px; 
        height: 24px;
        background-position: 89.62264150943396% 63.387978142076506%;  
    }

    .icon--search-ll-active {
        width: 25px; 
        height: 25px;
        background-position: 90.04739336492891% 0;  
    }

    .icon--search-m {
        width: 20px; 
        height: 20px;
        background-position: 99.53703703703704% 21.925133689839573%;  
    }

    .icon--search-w {
        width: 17px; 
        height: 17px;
        background-position: 98.17351598173516% 93.6842105263158%;  
    }

    .icon--send {
        width: 25px; 
        height: 24px;
        background-position: 90.04739336492891% 13.66120218579235%;  
    }

    .icon--settings {
        width: 27px; 
        height: 26px;
        background-position: 77.51196172248804% 29.834254143646408%;  
    }

    .icon--settings-s {
        width: 26px; 
        height: 26px;
        background-position: 77.14285714285714% 59.11602209944751%;  
    }

    .icon--time {
        width: 18px; 
        height: 24px;
        background-position: 87.1559633027523% 50.27322404371585%;  
    }
