.ss {
    &-container {
        width: 340px;
        height: 250px;
        max-width: 100%;
        overflow: hidden;

        @mixin atM {
            height: 150px;
        }
    }

    &-wrapper {
        overflow: hidden;
        width: 100%;
        position: relative;
        z-index: 1;
        float: left;

        @mixin atM {
            height: 150px;
        }

        &:after {
            content: "";
            background: #fff;
            display: block;
            height: 105%;
            width: 8px;
            border: 1px solid $grey-ll;
            position: absolute;
            top: -1px;
            right: 0;
            display: none;

            @mixin atM {
                display: block;
            }
        }
    }

    &-content {
        height: 100%;
        width: 385px;
        width: calc(100% + 45px);
        padding: 0 32px 0 0;
        position: relative;
        overflow: auto;
        
        @mixin atM {
            
        }
    }

    &-scroll {
        position: relative;
        background: #31839a;
        width: 8px;
        z-index: 2;
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.25s linear;
        display: none;

        @mixin atM {
            display: block;
        }
    }
}